/* Exchange box*/
.Exchange {
  width: 40vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 10px 0;
  border-radius: 5px;

  background-color: rgb(242, 242, 242);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.Exchange-title {
  font-size: 2.2rem;
  color: #a2aae5;
}
.Exchange-eur {
  font-size: 1.2rem;
  font-weight: bold;

  margin-bottom: 15px;
}

/* Exchange base */
.Exchange-base {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

/* buy-sell box */
.Exchange-buy-sell {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 20%;
}
.Exchange-buy-sell div {
  font-size: 1.1rem;
  letter-spacing: 0.08rem;
}

/* Input box */
.Input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 35%;
}
.Exchange-input {
  width: 350px;
  height: 30px;
  margin-bottom: 30px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.Input-box label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}
